h1 {
  text-align: left;
  margin-left: 3rem;
}

.header {
  background-color: #bfdbfe;
  padding: 1rem;
}

.score {
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  background-color: #bfdbfe;
  padding: 1rem;
  border-radius: 1.2rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

h3, img {
  border-radius: 1rem;
  background: #bfdbfe;
  padding: 1.25rem;
  width: 12.5rem;
  height: 9.5rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #bfdbfe;
  padding: 0.5rem;
}
