.App {
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: left;
  margin-left: 3rem;
}

.header {
  background-color: #bfdbfe;
  padding: 1rem;
}

.score {
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  background-color: #bfdbfe;
  padding: 1rem;
  border-radius: 1.2rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

img {
  border-radius: 1rem;
  background: #bfdbfe;
  padding: 1.25rem;
  width: 12.5rem;
  height: 9.5rem;
}

img:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #bfdbfe;
  padding: 0.5rem;
}

@media (max-width: 450px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .score {
    margin: 2rem;
    gap: 3rem;
  }
}

@media (max-width: 1000px) {
  .cards {
    flex-wrap: wrap;
  }
}
